# Backend ??????????????? .env ??????????
# ===== ?????=====
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=6666667MySQL
DB_NAME=smart-softwear

# ===== ?????? =====
PORT=3000

# AMAP Web Service Key (backend REST API)
AMAP_WEB_KEY=10fcc3a016894a3a745ba9b4417b5596

# ===== ????????astAPI????? =====
# ????????????????????????
MODEL_BASE=http://127.0.0.1:8008

# ?????????????????????????? SSH ??????????????# MODEL_BASE=http://127.0.0.1:8008

# ?????? HTTPS??rue/false??HTTPS=true
