//项目提供scss全局变量
//定义项目主题颜色

// 主色调
$primary-color: #409EFF; // 浅蓝 - 导航栏、按钮、标题
// 辅助色
$secondary-color: #FF9F43; // 橙色 - 识别结果高亮、推荐菜品标签
// 警示色
$warning-color: #F56C6C; // 红色 - 过敏原提示、错误弹窗
// 中性色
$bg-color: #F5F7FA; // 浅灰 - 页面背景、列表分隔线
// 文本色
$text-primary: #303133; // 深灰 - 正文内容
$text-secondary: #909399; // 浅灰 - 辅助说明文字